---
import "../styles/global.css";
import Base from "../layouts/Base.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "My awesome Astro blog";
---

<Base pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>

    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</Base>
